@{
    ViewData["Title"] = "Index";
}
@model List<CourseViewModel>

<div class="row">
    <div class="col-md-10 offset-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-header">Courses</h5>
                <a class="btn btn-primary m-3" asp-controller="Courses" asp-action="Create">Add Course</a>
                @if (Model != null && Model.Any())
                {
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Category Name
                                </th>
                                <th>
                                    Course Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Duration
                                </th>
                                <th>
                                    Picture
                                </th>                              
                                <th>
                                    Processes
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model)
                            {
                                <tr>
                                    <td>
                                        @course.Category.Name
                                    </td>
                                    <td>
                                        @course.Name
                                    </td>
                                    <td>
                                        @course.Price
                                    </td>
                                    <td>
                                        @course.Feature.Duration
                                    </td>
                                    <td>
                                        @course.Picture
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-success mr-1" asp-controller="Courses" asp-action="Update" asp-route-id="@course.Id">Update</a>
                                        <a class="btn btn-outline-danger" asp-controller="Courses" asp-action="Delete" asp-route-id="@course.Id">Del</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        Course not found
                    </div>
                }
            </div>
        </div>
    </div>
</div>

