@{
    ViewData["Title"] = "Home Page";
}
@model List<CourseViewModel>

<h2>Courses</h2>
<hr />

@if (Model.Any())
{
    <div class="row row-cols-3 row-cols-md-3 g-4 m-2">
        @foreach (var course in Model)
        {
            <div class="col">
                <div class="card">
                    <img src="@course.PictureUrl" class="card-img-top"  alt="@course.PictureUrl">
                    <div class="card-body">
                        <h5 class="card-title">@course.ShortName</h5>
                        <p class="card-text">@course.ShortDescription</p>
                        <div class="badge bg-primary">Category: @course.Category.Name</div>
                        <h4 class="text-primary">@course.Price ₺</h4>
                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@course.Id" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
}